<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Muisc App</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>
<html>
<body>

<h1>Music App</h1>

<form action="/" method="GET">
    <input name="search" type="text" placeholder="Search your favorite song, artist, or album">
    <input type="submit" value="Search">
</form>
</body>
</html>